  <div class="note-page-section">
    <h1>Home</h1>
    <p>
      <code class="highlighter-rouge">> whoami </code>
    </p>
    <p>
      Andrea Manzato
    </p>
    <p>
      <code class="highlighter-rouge">> cat readme.md</code> 
    </p>
    <p>
      ICT engineer & Cybersecurity consultant
    </p>
    <p>
      <code class="highlighter-rouge">> tail mail</code>
    </p>
    <p>
      andrea.manzatoAM@gmail.com
    </p> 
    <p>
      <code class="highlighter-rouge">> head description.md</code>
      
    </p>
    <p>
      I like hacking, programming and everything related to Cybersecurity.</h6>
      You can find here some of my projects and the writeups for the CTF
      challenges I played.
      <br>
      I play with <a href="https://spritz.math.unipd.it/spritzers.html"><b>Spritzers</b></a>
      a.k.a. NoPwnIntended.
    </p>    
    <p>
      <code class="highlighter-rouge">> xdg-open me.webp</code>
    </p>
      <img
        id="me"
        src="./../assets/img/profile.webp"
        class="rounded img-fluid"
        style="max-width: 40%"
      />
    
  </div>  
