<div class="note-page-section">
  <h1>Projects</h1>
  <p>
    <code class="highlighter-rouge">> andreamnzt.github.io</code>    
    </p>
    <p>
    This website, made with <3.
    </p>    
    <img
      style="border-radius: 5px 5px 5px 5px;"
      src="https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E"
    />
    <img
      style="border-radius: 5px 5px 5px 5px;"
      src="https://img.shields.io/badge/bootstrap-%23563D7C.svg?style=for-the-badge&logo=bootstrap&logoColor=white"
    />
    <img
      style="border-radius: 5px 5px 5px 5px;"
      src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white"
    />
    <img
      style="border-radius: 5px 5px 5px 5px;"
      src="https://img.shields.io/badge/css3-%231572B6.svg?style=for-the-badge&logo=css3&logoColor=white"
    />
    <hr>
    <p>
    <code class="highlighter-rouge">> DEBATE</code>    
    </p>
    <p>
    A routing protocol designed for Delay Tolerant Networks, based on Bayesian Games and Network Science metrics.
    </p>    
    <img
      style="border-radius: 5px 5px 5px 5px;"
      src="https://img.shields.io/badge/python-3670A0?style=for-the-badge&logo=python&logoColor=ffdd54"
    />
    <p><u><a href="https://github.com/AndreaMnzt/DTNsimulator/" target="_blank">Code available</a></u></p>
    <hr>
    <p>
    <code class="highlighter-rouge">> Integration of Vehicle-to-Vehicle and Vehicle-to-Infrastructure traffic simulations</code>    
    </p>
    <p>
    An integration of mmwave and millicar modules for the Ns-3 open source simulator to simulate V2V and V2I traffic scenario using mmwaves.
    </p>    
    <img
      style="border-radius: 5px 5px 5px 5px;"
      src="https://img.shields.io/badge/c++-%2300599C.svg?style=for-the-badge&logo=c%2B%2B&logoColor=white"
    />
    <p><u><a href="https://github.com/AndreaMnzt/ns3-V2I-V2V/" target="_blank">Code available</a></u></p>
    <hr>
    <p>
    <code class="highlighter-rouge">> Twitter semantic and sentiment</code>    
    </p>
    <p>
    A sentiment and semantic analysis of USA representatives tweets using Network Science and Natural Language Processing.
    </p>    
    <img
      style="border-radius: 5px 5px 5px 5px;"
      src="https://img.shields.io/badge/python-3670A0?style=for-the-badge&logo=python&logoColor=ffdd54"
    />
    <hr>
    <p>
    <code class="highlighter-rouge">> Traffic prediction for 5G network</code>    
    </p>
    <p>
    Prediction of vehicular traffic to design 5G networks load using Machine Learning and Kalman Filters.
    </p>    
    <img
      style="border-radius: 5px 5px 5px 5px;"
      src="https://img.shields.io/badge/python-3670A0?style=for-the-badge&logo=python&logoColor=ffdd54"
    />
    <p>
    <u><a href="https://github.com/AndreaMnzt/Traffic-Prediction-5G" target="_blank">Code available</a></u>
    <hr>
    <p>
    <code class="highlighter-rouge">> Brewdog</code>    
    </p>
    <p>
    A web application designed for dog breeders and dog shows.
    </p>    
    <img
      style="border-radius: 5px 5px 5px 5px;"
      src="https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E"
    />
    <img
      style="border-radius: 5px 5px 5px 5px;"
      src="https://img.shields.io/badge/postgres-%23316192.svg?style=for-the-badge&logo=postgresql&logoColor=white"
    />
    <img
      style="border-radius: 5px 5px 5px 5px;"
      src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white"
    />
    <img
      style="border-radius: 5px 5px 5px 5px;"
      src="https://img.shields.io/badge/css3-%231572B6.svg?style=for-the-badge&logo=css3&logoColor=white"
    />
    <img
      style="border-radius: 5px 5px 5px 5px;"
      src="https://img.shields.io/badge/Apache%20Maven-C71A36?style=for-the-badge&logo=Apache%20Maven&logoColor=white"
    />  
</div>  





